name: Build Windows EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja
          mingw-w64-x86_64-SDL2
          mingw-w64-x86_64-nlohmann-json

    - name: Configure
      shell: msys2 {0}
      run: |
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5

    - name: Build
      shell: msys2 {0}
      run: |
        cd build
        ninja

    - name: Copy SDL2.dll
      run: |
        copy C:\msys64\mingw64\bin\SDL2.dll build\

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: Emulator-Windows
        path: |
          build/*.exe
          build/SDL2.dll


